body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #001a17;
}

.date {
  font-size: 1.5rem;
  -ms-flex-item-align: start;
      align-self: start;
  font-style: italic;
}

h1 {
  text-transform: uppercase;
  font-size: clamp(2.4rem, 2vw + 0.6rem, 4rem);
  line-height: 1.2;
  letter-spacing: 1.2px;
  font-weight: 600;
}

h2 {
  text-transform: uppercase;
  font-size: clamp(1.8rem, 1.4vw + 0.6rem, 2.4rem);
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 500;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgb(247, 247, 247);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #001a17;
}

.btn {
  outline-color: transparent;
  letter-spacing: 1px;
}
.btn__full:link, .btn__full:visited {
  padding: 0.8rem 3.2rem;
  border: solid 3px #087f73;
  border-radius: 100px;
  font-size: 2rem;
  font-weight: 600;
  background-color: #087f73;
  color: white;
}
.btn__full:hover {
  color: #087f73;
  background-color: white;
}
.btn__full:active {
  background-color: #e7fffd;
}
.btn__outline:link, .btn__outline:visited {
  padding: 0.5rem 3rem;
  border: solid 3px;
  border-radius: 100px;
  font-size: 2rem;
}
.subscribe__form {
  background-color: white;
  padding: 5rem 4rem 4rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  border-radius: 7px;
}
.subscribe__form--header {
  color: #087f73;
  font-size: clamp(4rem, 1.8vw + 2rem, 6rem);
  font-weight: 600;
}
.subscribe__form--text {
  font-size: clamp(2rem, 0.8vw + 1.5rem, 4rem);
  font-weight: 400;
  max-width: 48ch;
  color: #2d373a;
}
.subscribe__form--text span {
  color: #087f73;
}
.subscribe__form--email-error-message, .subscribe__form--name-error-message {
  color: red;
  font-size: clamp(1.5rem, 0.8vw + 0.4rem, 1.8rem);
  font-weight: 300;
  display: none;
  margin-top: -1rem;
  display: none;
  margin-left: 1rem;
}
.subscribe__form input[type=email]:invalid + .subscribe__form--email-error-message {
  display: block;
}
.subscribe__form input[type=text]:invalid + .subscribe__form--name-error-message {
  display: block;
}
.subscribe__form--name, .subscribe__form--email {
  background-color: #eff2f8;
  border-style: none;
  padding: 1rem 3rem;
  font-size: clamp(0.5rem, 0.8vw + 1rem, 2rem);
  font-weight: 300;
  font-family: inherit;
  border-radius: 6px;
}
.subscribe__form--name:focus, .subscribe__form--email:focus {
  outline-color: #087f73;
}
.subscribe__form--name::-webkit-placeholder, .subscribe__form--email::-webkit-placeholder {
  color: rgb(178, 178, 178);
}
.subscribe__form--name::-moz-placeholder, .subscribe__form--email::-moz-placeholder {
  color: rgb(178, 178, 178);
}
.subscribe__form--name::-ms-placeholder, .subscribe__form--email::-ms-placeholder {
  color: rgb(178, 178, 178);
}
.subscribe__form--name::-webkit-input-placeholder, .subscribe__form--email::-webkit-input-placeholder {
  color: rgb(178, 178, 178);
}
.subscribe__form--name::-moz-placeholder, .subscribe__form--email::-moz-placeholder {
  color: rgb(178, 178, 178);
}
.subscribe__form--name:-ms-input-placeholder, .subscribe__form--email:-ms-input-placeholder {
  color: rgb(178, 178, 178);
}
.subscribe__form--name::-ms-input-placeholder, .subscribe__form--email::-ms-input-placeholder {
  color: rgb(178, 178, 178);
}
.subscribe__form--name::placeholder, .subscribe__form--email::placeholder {
  color: rgb(178, 178, 178);
}
.subscribe__form--button {
  background-color: #087f73;
  border-style: none;
  padding: 1rem 12rem;
  font-size: clamp(2rem, 0.8vw + 1.5rem, 4rem);
  font-weight: 300;
  font-family: inherit;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  color: #f7faf9;
  border-radius: 6px;
  cursor: pointer;
}
.subscribe__form--button:hover {
  background-color: #006256;
}
.subscribe__form--button:active {
  background-color: #004139;
}
.subscribe__form--terms {
  font-size: clamp(1rem, 0.7vw + 1rem, 1.8rem);
  font-weight: 300;
  color: #2d373a;
}

.ham-nav {
  display: none;
}

.blur {
  position: fixed;
  width: 250vw;
  height: 100vh;
  top: 6rem;
  left: -105rem;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
  -webkit-backdrop-filter: blur(2.2px);
          backdrop-filter: blur(2.2px);
  visibility: hidden;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

@media only screen and (max-width: 1100px) {
  .ham-nav {
    display: block;
    position: fixed;
    top: 4.5rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 2.3rem;
    z-index: 3;
  }
  #menuToggle {
    display: block;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  #menuToggle a:link,
  #menuToggle a:visited {
    text-decoration: none;
    color: #f7faf9;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover {
    color: #faa2c1;
  }
  #menuToggle a:active {
    color: #f06595;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  /*
  * Just a quick hamburger
  */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #f7faf9;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
        -ms-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
  #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
        -ms-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
    background: #f7faf9;
  }
  /*
  * But let's hide the middle one.
  */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
        -ms-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  /*
  * Ohyeah and the last one should go the other direction
  */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
        -ms-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
  /*
  * Make this absolute positioned
  * at the top left of the screen
  */
  #menu {
    z-index: 0;
    position: absolute;
    width: 50rem;
    margin: -100px 0 0 -43rem;
    padding-right: 10rem;
    padding-left: 10.3rem;
    padding-top: 14rem;
    padding-bottom: 5rem;
    background: #087f73;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 1.5rem 0;
    font-size: 2.2rem;
  }
  /*
  * And let's slide it in from the rihgt
  */
  #menuToggle input:checked ~ ul {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .checkbox:checked + .blur {
    visibility: visible;
    opacity: 1;
  }
}
.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  position: relative;
  padding: 3rem;
  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
}
.card:hover {
  -webkit-transform: translateY(-1.5px);
      -ms-transform: translateY(-1.5px);
          transform: translateY(-1.5px);
  -webkit-box-shadow: 0 6.5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6.5px 10px rgba(0, 0, 0, 0.1);
}
.card:active {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
}

.header {
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #087f73;
  height: 9rem;
  padding: 0 6rem 0 3.5rem;
  z-index: 3;
}

.logo {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  gap: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 6;
}
.logo__icon {
  height: 5.3rem;
  width: auto;
}
.logo__text {
  text-transform: uppercase;
  color: #f7faf9;
  color: #eafffc;
  line-height: 1;
}
.logo__text-formate {
  font-size: 4.15rem;
  font-weight: 600;
}
.logo__text-sub {
  font-weight: 500;
  font-size: 1.5rem;
}

.nav {
  display: none;
}

@media only screen and (min-width: 1100px) {
  .nav:first-child {
    margin-left: 0.2rem;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 80rem;
    width: 100rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__btn:link, .nav__btn:visited {
    padding: 0.4rem 0;
    background-color: transparent;
    font-size: 2.2rem;
    letter-spacing: 0.05ch;
    color: white;
    font-weight: 300;
    position: relative;
    margin-left: 2rem;
  }
  .nav__btn--red::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4.5px;
    background-color: #ff6b6b;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  .nav__btn--red:hover::after {
    width: 100%;
  }
  .nav__btn--red:active {
    color: #ff6b6b;
  }
  .nav__btn--orange::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4.5px;
    background-color: #ff922b;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  .nav__btn--orange:hover::after {
    width: 100%;
  }
  .nav__btn--orange:active {
    color: #ff922b;
  }
  .nav__btn--yellow::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4.5px;
    background-color: #fcc419;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  .nav__btn--yellow:hover::after {
    width: 100%;
  }
  .nav__btn--yellow:active {
    color: #fcc419;
  }
  .nav__btn--green::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4.5px;
    background-color: #20c997;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  .nav__btn--green:hover::after {
    width: 100%;
  }
  .nav__btn--green:active {
    color: #20c997;
  }
  .nav__btn--blue::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4.5px;
    background-color: #339af0;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  .nav__btn--blue:hover::after {
    width: 100%;
  }
  .nav__btn--blue:active {
    color: #86c9ff;
  }
  .nav__btn--purple::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4.5px;
    background-color: #9672ff;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  .nav__btn--purple:hover::after {
    width: 100%;
  }
  .nav__btn--purple:active {
    color: #bfaaff;
  }
  .nav__btn--white::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4.5px;
    background-color: #f7faf9;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  .nav__btn--white:hover::after {
    width: 100%;
  }
  .nav__btn--white:active {
    color: #82f5e0;
  }
  .nav__btn--white:active::after {
    background-color: #82f5e0;
  }
}
.access {
  position: absolute;
  right: 4.2rem;
  top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 3.5rem;
  color: #087f73;
}
.access__login {
  color: inherit;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 400;
  -webkit-transition: -webkit-text-decoration 2s;
  transition: -webkit-text-decoration 2s;
  -o-transition: text-decoration 2s;
  transition: text-decoration 2s;
  transition: text-decoration 2s, -webkit-text-decoration 2s;
  padding: 0.4rem 0;
  font-size: 2rem;
  position: relative;
}
.access__login::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #087f73;
  width: 0%;
  -webkit-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
}
.access__login:hover::after {
  width: 100%;
}
.access__login:active::after {
  background-color: #63e6ce;
}
.access__login:active {
  color: #63e6ce;
}
.access__plan:link, .access__plan:visited {
  color: inherit;
  padding: 0.3rem 2.5rem;
  border: solid 2.5px #087f73;
  border-radius: 100px;
  font-size: 2rem;
  font-weight: 500;
}
.access__plan:link:hover, .access__plan:visited:hover {
  color: #f7faf9;
  background-color: #087f73;
}
.access__plan:link:active, .access__plan:visited:active {
  background-color: #63e6ce;
  border-color: #63e6ce;
}

.main {
  max-width: 139rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  margin-top: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content {
  padding-left: 4rem;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.footer {
  background-color: #087f73;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 10rem 0 0 0;
  padding: 4rem 0 3rem 0;
  font-size: 1.4rem;
  color: #f7faf9;
}
.footer__div {
  margin: 0 auto;
  height: 100%;
  max-width: 130rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer a {
  color: #f7faf9;
}
.footer__header {
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #f7faf9;
}
.footer__logo {
  height: 3rem;
  width: auto;
}
.footer__body {
  padding: 3rem 0;
  border-bottom: solid 1px #f7faf9;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 0.07ch;
}
.footer__body li:first-child {
  font-weight: 500;
  padding-bottom: 1rem;
}
.footer__body--contact {
  justify-self: center;
}
.footer__body--partners {
  justify-self: end;
  margin-right: 2rem;
}
.footer__bottom {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.sidebar {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  max-width: 30rem;
  padding-right: 3rem;
  border-right: solid 1px #708990;
  margin-bottom: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.sidebar a:link,
.sidebar a:visited {
  font-size: 2rem;
  font-weight: 500;
  color: #001a17;
}
.sidebar:hover a {
  opacity: 0.3;
}
.sidebar a:hover {
  opacity: 1;
}

.main-article {
  display: grid;
  grid-template-columns: auto -webkit-max-content;
  grid-template-columns: auto max-content;
  font-size: clamp(1.8rem, 0.8vw + 0.3rem, 2.2rem);
}

.article > *:not(last-child) {
  margin-bottom: 2.4rem;
}
.article__img {
  background-image: url(/Assets/img/Lavender.jpg);
  height: 26rem;
  width: auto;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}
.article__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: solid 1px #001a17;
}
.article__head h1 {
  margin-bottom: 0.6rem;
}
.article__head time {
  margin-bottom: 0.8rem;
  font-size: clamp(1.4rem, 0.7vw + 0.3rem, 1.8rem);
}
.article__head span {
  font-weight: 300;
  font-size: clamp(1.4rem, 0.7vw + 0.3rem, 1.8rem);
  margin-bottom: 2.2rem;
}
.article__text {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 3.2rem;
     -moz-column-gap: 3.2rem;
          column-gap: 3.2rem;
  border-bottom: solid 1px #001a17;
  padding-bottom: 2.4rem;
  min-width: 60ch;
}
@media screen and (max-width: 1200px) {
  .article__text {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}
.article__text p {
  margin-bottom: 2.4rem;
  font-size: clamp(1.6rem, 0.8vw + 0.3rem, 2.2rem);
}
.article__text h3 {
  margin-bottom: 1rem;
}

.similar-articles {
  padding-right: 2rem;
  padding-left: 2.4rem;
}
.similar-articles h3 {
  margin: 2rem 0;
  font-weight: 400;
  padding-left: 2.6rem;
}
.similar-articles__card {
  max-width: 25ch;
  padding: 3rem;
  color: #2d373a;
  margin-bottom: 3rem;
}
.similar-articles__card h2 {
  margin-bottom: 0.8rem;
  font-size: clamp(1.6rem, 1.2vw + 0.5rem, 2.2rem);
}
.similar-articles__card p {
  font-size: clamp(1.6rem, 0.8vw + 0.4rem, 1.2rem);
  font-style: italic;
  font-weight: 400;
}

.intro {
  background-image: url(/Assets/img/intro-bg-green.jpg);
  background-size: cover;
  min-height: 98vh;
  max-height: -webkit-min-content;
  max-height: -moz-min-content;
  max-height: min-content;
}

.container {
  height: 100%;
  padding: 0 8rem 4rem 8rem;
  gap: 22vh;
  display: grid;
  grid-template-rows: minmax(9rem, 12%) 1fr;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  color: #fbfffe;
}

.landing-logo {
  align-self: end;
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  gap: 1.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.landing-logo__icon {
  height: 5.9rem;
  width: auto;
}
.landing-logo__text {
  text-transform: uppercase;
  color: #b6dbd6;
  line-height: 1;
}
.landing-logo__text-formate {
  font-size: 4.6rem;
  font-weight: 600;
  margin-bottom: 3px;
}
.landing-logo__text-sub {
  font-weight: 400;
  font-size: 1.7rem;
}

.intro-presentation {
  -ms-flex-item-align: center;
      align-self: center;
  padding-bottom: 3rem;
}
.intro-presentation__headline {
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(3.2rem, 2vw + 1rem, 8rem);
  margin-bottom: 5rem;
  line-height: 1.2;
  letter-spacing: 1.6px;
}
.intro-presentation__text {
  max-width: 48ch;
  font-size: clamp(2rem, 1.2vw + 0.5rem, 6rem);
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 7rem;
  letter-spacing: 0.08ch;
}
.intro-presentation__btn:link, .intro-presentation__btn:visited {
  padding: 0.8rem 4rem;
  border: solid 3px #fbfffe;
  color: #fbfffe;
  border-radius: 100px;
  font-size: clamp(1.8rem, 1vw + 0.4rem, 8rem);
  font-weight: 600;
}
.intro-presentation__btn:hover {
  color: #046746;
  background-color: #fbfffe;
}
.intro-presentation__btn:active {
  background-color: rgba(251, 255, 254, 0.7);
}
.intro-presentation__arrow {
  justify-self: center;
  margin-bottom: -2rem;
}
.intro-presentation__arrow--icon {
  height: 1rem;
  width: auto;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.intro-presentation__arrow--icon:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.subscribe {
  margin-top: 20rem;
  margin-bottom: 20rem;
}
.subscribe__background {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  z-index: -2;
}
.subscribe__form {
  justify-self: center;
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
  min-width: 48rem;
  max-width: 90rem;
}
.subscribe picture > * {
  height: 100%;
}
.subscribe__image {
  align-self: stretch;
  grid-column: 1/-1;
  grid-row: 1;
  z-index: 0;
  justify-self: end;
}

.tools__sidebar a:hover {
  opacity: 1;
}
.tools__sidebar a:active {
  color: rgb(230, 203, 1);
}
.ingredients__sidebar a:active {
  color: #339af0;
}
.ingredients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4rem;
}

.center {
  max-width: 85%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.center .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.center .hero__card {
  margin-bottom: 8rem;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 7px;
  width: 58rem;
  height: 75rem;
  background-color: white;
  position: relative;
  overflow: visible;
}
.center .hero__card::before {
  content: "This month hero";
  position: absolute;
  top: 3rem;
  left: -1rem;
  background: #339af0;
  padding: 0.5rem 2rem;
  color: white;
  text-transform: lowercase;
  font-size: 1.4rem;
  z-index: 1;
}
.center .hero__card--img {
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(35%, rgba(0, 0, 0, 0.5)), color-stop(60%, rgba(0, 0, 0, 0))), url(/Assets/img/Lavender.jpg);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0) 60%), url(/Assets/img/Lavender.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0) 60%), url(/Assets/img/Lavender.jpg);
  background-size: cover;
  background-position: center;
}
.center .hero__card figure {
  position: relative;
  border-radius: 7px 7px 0 0;
  height: 53%;
  width: 100%;
  overflow: hidden;
}
.center .hero__card .figcaption {
  position: absolute;
  color: white;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.center .hero__card .figcaption figcaption {
  -ms-flex-item-align: center;
      align-self: center;
  display: block;
}
.center .hero__card .figcaption figcaption:first-child {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 5rem;
  margin-bottom: -1rem;
  letter-spacing: 0.15ch;
}
.center .hero__card .figcaption figcaption:last-child {
  text-transform: lowercase;
  font-size: 1.8rem;
  letter-spacing: 0.1ch;
}
.center .hero__card--details {
  padding: 48px 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}
.center .hero__card--details p {
  text-align: center;
  font-size: 1.6rem;
}
.center .hero__card--details a {
  font-size: 1.8rem;
  color: white;
  border-radius: 5px;
  background-color: #339af0;
  padding: 1.2rem 2.8rem;
  letter-spacing: 0.07ch;
}
.center .hero__card--use ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.center .hero__card--use ul li {
  color: #2d373a;
  background-color: #ebeeef;
  padding: 2px 18px;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 300;
}
.center .hero__library {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}
.center .hero__library-card {
  background-color: greenyellow;
  width: 15rem;
  height: 20rem;
}

.new-ingredients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
  padding-left: 4rem;
}
.new-ingredients--title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}
.new-ingredients__card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #708990;
}
.new-ingredients__card--name {
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
}
.new-ingredients__card--type {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.new-ingredients__card--date {
  font-style: italic;
  font-size: 1.2rem;
}

.hype__figure--3 {
  background-image: url(/Assets/img/SOap40.jpg);
}
.hype__figure--2 {
  background-image: url(/Assets/img/soaps.jpeg);
}
.hype__figure--1 {
  background-image: url(/Assets/img/hands.jpg);
}

.news__figure--3 {
  background-image: url(/Assets/img/diana-polekhina-Hzz7AEyLhZk-unsplash.jpg);
}
.news__figure--2 {
  background-image: url(/Assets/img/content-pixie-WdJ4WnLxyDs-unsplash.jpg);
}
.news__figure--1 {
  background-image: url(/Assets/img/intro-bg-green.jpg);
}

.main-news {
  display: grid;
  grid-template-columns: 1fr 2.3fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  padding-bottom: 40rem;
}

.column-type {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 0 0 1rem 2rem;
}

.hype {
  min-width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.hype__div {
  background-color: #087f73;
  padding: 3rem 3rem 1.05rem 3rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  height: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f7faf9;
  position: relative;
  overflow: hidden;
}
.hype__div::after {
  content: "";
  height: 5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #f06595;
  left: 0;
  z-index: 0;
}
.hype__figure {
  background-position: center;
  background-size: cover;
  height: 13rem;
  width: 100%;
  border-radius: 4px;
}
.hype__header {
  text-transform: uppercase;
  font-size: 2.2rem;
  line-height: normal;
  font-weight: 500;
  color: #fcc2d7;
}
.hype__date {
  font-size: 1.5rem;
}
.hype__text {
  font-size: 1.6rem;
  font-weight: 300;
  overflow: hidden; /* hide overflowing text */
  padding-bottom: 2.5rem;
  letter-spacing: 0.55px;
}
.hype__cta {
  font-size: 2rem;
  font-weight: 500;
  justify-self: end;
  color: #f7faf9;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: end;
  z-index: 1;
  text-transform: uppercase;
}
.hype__cta:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
}

.news {
  min-width: 82rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.news__div {
  background-color: rgb(255, 255, 255);
  padding: 3rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  height: 20rem;
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  grid-template-rows: -webkit-min-content -webkit-min-content 5rem 4rem 20rem;
  grid-template-rows: min-content min-content 5rem 4rem 20rem;
  -webkit-column-gap: 3.3rem;
     -moz-column-gap: 3.3rem;
          column-gap: 3.3rem;
  color: #2d373a;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.news__div:first-child::after {
  content: "new";
  position: absolute;
  padding: 0.1rem 3rem;
  background-color: #f06595;
  top: 2rem;
  right: 1rem;
  -webkit-transform: translateX(20%);
      -ms-transform: translateX(20%);
          transform: translateX(20%);
  font-size: 1.8rem;
  color: #f7faf9;
  letter-spacing: 1.2px;
}
.news__figure {
  grid-row: 1/span 4;
  align-self: start;
  -webkit-transform: translateY(-2.3px);
      -ms-transform: translateY(-2.3px);
          transform: translateY(-2.3px);
  height: 14.5rem;
  width: 14.5rem;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
}
.news__header {
  padding-top: 0.3rem;
  font-size: 2.2rem;
  font-weight: 500;
}
.news__date {
  font-size: 1.5rem;
  -ms-flex-item-align: start;
      align-self: start;
  margin-bottom: 1.2rem;
  font-style: italic;
}
.news__text {
  font-size: 1.6rem;
  font-weight: 400;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.news__text--preview {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.news__text--long {
  opacity: 0;
  grid-column: 1/-1;
  padding: 0.1rem 0;
  max-width: 90ch;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.news__read {
  font-size: 1.4rem;
  position: absolute;
  bottom: 0.8rem;
  right: 3rem;
  color: #20c9b5;
}
.news__read:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}
.news__read:active {
  color: #087f73;
}
.news__arrow {
  cursor: pointer;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1.6rem;
  width: 1.6rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.news__arrow:hover {
  -webkit-transform: translateY(15%) translateX(-50%);
      -ms-transform: translateY(15%) translateX(-50%);
          transform: translateY(15%) translateX(-50%);
}
.news__checkbox {
  display: none;
}
.news__div:has(> .news__checkbox:checked) {
  height: 45rem;
}
.news__checkbox:checked ~ .news__text--preview {
  -webkit-line-clamp: unset;
  overflow: unset;
}
.news__checkbox:checked ~ .news__text--long {
  opacity: 1;
}
.news__checkbox:checked ~ .news__arrow {
  -webkit-transform: rotate(180deg) translateX(50%);
      -ms-transform: rotate(180deg) translateX(50%);
          transform: rotate(180deg) translateX(50%);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}