//* ------SHADOWS-----

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

//* ------COLORS-----
// $color-white: rgb(255, 254, 251);
// $color-black: rgb(21, 21, 21);

// $color-grey-dark-1: #333;
// $color-grey-dark-2: #777;
// $color-grey-dark-3: #999;

// $color-grey-light-1: #faf9f9;
// $color-grey-light-2: #f4f2f2;
// $color-grey-light-3: #f0eeee;
// $color-grey-light-4: #ccc;

$color-black: #001a17;
$color-white: #f7faf9;
$color-grey-dark-3: #2d373a;
$color-grey-dark-2: #708990;

$color-grey-light-1: #adbbbf;
$color-grey-light-2: #d6dddf;
$color-grey-light-3: #ebeeef;

$color-primary-dark-2: #004139;
$color-primary-dark-1: #006256;
$color-primary: #087f73;
$color-primary-light-1: #0ca694;
$color-primary-light-2: #20c9b5;
$color-primary-light-3: #63e6ce;

$color-accent-dark-2: #d6336c;
$color-accent-dark-1: #e64980;
$color-accent: #f06595;
$color-accent-light-1: #faa2c1;
$color-accent-light-2: #fcc2d7;

$color-menu-red: #ff6b6b;
$color-menu-orange: #ff922b;
$color-menu-yellow: #fcc419;
$color-menu-green: #20c997;
$color-menu-blue: #339af0;
$color-menu-purple: #9672ff;
// $color-menu-purple: #845ef7;

//* ------FONTS-----

$default-font-size: 1.6rem;
