.sidebar {
  //   background-color: pink;
  height: min-content;
  max-width: 30rem;
  padding-right: 3rem;
  border-right: solid 1px $color-grey-dark-2;
  margin-bottom: 20rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  a:link,
  a:visited {
    font-size: 2rem;
    font-weight: 500;
    color: $color-black;
  }

  &:hover a {
    opacity: 0.3;
  }
  a:hover {
    opacity: 1;
  }
}
