*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

// a:focus-visible,
// input:focus-visible,
// button:focus-visible {
//   outline: 2px solid $color-menu-orange;
//   padding: 0 1rem;
//   outline-offset: 3px;
//   border-radius: 3px;
// }
