.ingredients {
  &__sidebar {
    a:active {
      color: $color-menu-blue;
    }
  }

  &__content {
    display: flex;

    justify-content: space-between;
    gap: 4rem;
  }
}

.center {
  max-width: 85%;
  flex-grow: 2;

  .hero {
    display: flex;
    flex-direction: column;

    &__card {
      margin-bottom: 8rem;
      align-self: center;
      border-radius: 7px;

      width: 45rem;
      height: 50rem;
      background-color: white;
      position: relative;

      &::before {
        content: "This month hero";
        position: absolute;
        top: 3rem;
        left: 0;
        background: $color-menu-blue;
        padding: 0.5rem 2rem;
        color: white;
        text-transform: lowercase;
        font-size: 1.4rem;

        z-index: 1;
      }

      &--img {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.5) 35%,
            rgba(0, 0, 0, 0) 60%
          ),
          url(/Assets/img/Lavender.jpg);

        background-size: cover;
        background-position: center;
      }

      figure {
        position: relative;
        height: 60%;
        width: 100%;
      }

      .figcaption {
        position: absolute;
        color: white;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;

        figcaption {
          align-self: center;
          display: block;
        }
        figcaption:first-child {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 5rem;
          margin-bottom: -1rem;
          letter-spacing: 0.15ch;
        }
        figcaption:last-child {
          text-transform: lowercase;
          font-size: 1.8rem;
          letter-spacing: 0.1ch;
        }
      }

      &--use {
        ul {
          display: flex;
          gap: 10px;
          li {
            color: white;
            background-color: $color-menu-blue;
            padding: 2px 12px;
            border-radius: 50px;
            font-size: 1.2rem;
          }
        }
      }
    }

    &__btn {
    }

    &__library {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 4rem;
      &-card {
        background-color: greenyellow;
        width: 15rem;
        height: 20rem;
      }
    }
  }
}

.new-ingredients {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-left: 4rem;
  border-left: solid 1px $color-grey-dark-2;
  &__card {
    background-color: burlywood;
    width: 20rem;
    height: 20rem;
  }
}
