.ingredients {
  &__sidebar {
    a:active {
      color: $color-menu-blue;
    }
  }

  &__content {
    display: flex;

    justify-content: space-between;
    gap: 4rem;
  }
}

.center {
  max-width: 85%;
  flex-grow: 2;

  .hero {
    display: flex;
    flex-direction: column;

    &__card {
      margin-bottom: 8rem;
      align-self: center;
      border-radius: 7px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);

      max-width: 65%;
      min-width: 30ch;
      height: max-content;
      background-color: white;
      position: relative;
      overflow: visible;

      &::before {
        content: "This month hero";
        position: absolute;
        top: 3rem;
        left: -1rem;
        background: $color-menu-blue;
        padding: 0.5rem 2rem;
        color: white;
        text-transform: lowercase;
        font-size: 1.4rem;

        z-index: 1;
      }

      &--img {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.5) 35%,
            rgba(0, 0, 0, 0) 60%
          ),
          url(/Assets/img/Lavender.jpg);

        background-size: cover;
        background-position: center;
      }

      figure {
        position: relative;
        border-radius: 7px 7px 0 0;
        height: 40vh;
        width: 100%;
        overflow: hidden;
      }

      .figcaption {
        position: absolute;
        color: white;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;

        figcaption {
          align-self: center;
          display: block;
        }
        figcaption:first-child {
          text-transform: uppercase;
          font-weight: 500;
          font-size: clamp(4rem, 2.5vw + 0.9rem, 6rem);

          margin-bottom: -1rem;
          letter-spacing: 0.15ch;
        }
        figcaption:last-child {
          text-transform: lowercase;
          font-size: 1.8rem;
          letter-spacing: 0.1ch;
        }
      }
      &--details {
        padding: 48px 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        p {
          text-align: center;
          font-size: clamp(1.6rem, 0.8vw + 0.2rem, 2.2rem);
        }

        a {
          font-size: 1.8rem;
          color: white;
          border-radius: 5px;
          background-color: $color-menu-blue;
          padding: 1.2rem 2.8rem;
          letter-spacing: 0.07ch;
        }
      }
      &--use {
        ul {
          display: flex;
          gap: 12px;
          li {
            color: $color-grey-dark-3;
            background-color: $color-grey-light-3;
            padding: 2px 18px;
            border-radius: 5px;
            font-size: 1.6rem;
            font-weight: 300;
          }
        }
      }
    }

    &__btn {
    }

    &__library {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 4rem;
      &-card {
        background-color: greenyellow;
        width: 15rem;
        height: 20rem;
      }
    }
  }
}

.new-ingredients {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-left: 4rem;
  // border-left: solid 1px $color-grey-dark-2;
  &--title {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }
  &__card {
    // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    // background-color: white;
    // width: auto;
    // height: auto;
    padding: 2rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 0.2rem;
    color: $color-grey-dark-2;
    // transition: all 0.2s;
    // &:hover {
    //   transform: translateY(-1.5px);
    //   box-shadow: 0 6.5px 10px rgba(0, 0, 0, 0.2);
    // }
    // &:active {
    //   transform: translateY(1px);
    //   box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
    // }
    &--name {
      font-size: 2.2rem;
      font-weight: 500;
      text-align: center;
    }
    &--type {
      font-size: 1.6rem;
      font-weight: 400;
      margin-bottom: 1.5rem;
    }
    &--date {
      font-style: italic;
      font-size: 1.2rem;
    }
  }
}
