.ingredients {
  &__sidebar {
    a:active {
      color: $color-menu-blue;
    }
  }

  &__content {
    display: flex;

    justify-content: space-between;
    gap: 4rem;
  }
}

.center {
  max-width: 85%;
  flex-grow: 2;

  .hero {
    display: flex;
    flex-direction: column;
    &__card {
      margin-bottom: 8rem;
      align-self: center;
      background-color: lemonchiffon;
      width: 50rem;
      height: 50rem;
    }

    &__library {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 4rem;
      &-card {
        background-color: greenyellow;
        width: 15rem;
        height: 20rem;
      }
    }
  }
}

.new-ingredients {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-left: 4rem;
  border-left: solid 1px $color-grey-dark-2;
  &__card {
    background-color: burlywood;
    width: 20rem;
    height: 20rem;
  }
}
