.main-news {
  // background-color: aqua;
  max-width: 76vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 5rem;
}

//! +++++++++++++ IMPORTANT ++++++++++++++
.important {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  padding-top: 10rem;

  &__div {
    background-color: $color-primary;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    height: 45rem;
    display: flex;
    flex-direction: column;
    color: $color-white;
    position: relative;
    // border: solid 5px$color-white;
  }

  &__figure {
    // align-self: center;
  }
  &__img {
    height: 14rem;
    width: 100%;
    border-radius: 4px;
    transform: translateY(2.3px);
  }

  &__header {
    // background-color: rgb(169, 234, 255);
    padding-top: 1rem;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 500;
  }
  &__date {
    font-size: 1.5rem;
    align-self: start;
    margin-bottom: 1.2rem;
    font-style: italic;
  }
  &__text {
    // background-color: rgb(136, 26, 140);
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    overflow: hidden; /* hide overflowing text */
  }

  &__read {
    // background-color: rgb(26, 140, 51);
    font-size: 1.4rem;
    justify-self: end;
    padding-right: 2.3rem;
    padding-top: 2rem;
    color: $color-accent-light-1;
  }
}

//! +++++++++++++ NEWS ++++++++++++++
.news {
  // background-color: rgb(172, 172, 255);
  // max-width: 76vw;
  margin: 0 auto;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  padding-top: 10rem;
  position: relative;

  &__div {
    // background-color: yellow;
    background-color: rgb(255, 255, 255);
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    height: 20rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr 7rem 1fr;
    column-gap: 3rem;
    align-content: center;
    color: $color-grey-dark-3;
    position: relative;

    &:first-child::after {
      content: "new";
      position: absolute;
      padding: 0.3rem 3rem;
      background-color: $color-accent;
      top: 2rem;
      right: 0;
      transform: translateX(20%);
      font-size: 1.8rem;
      color: $color-white;
      letter-spacing: 1.2px;
    }
  }

  &__figure {
    grid-row: 1 / span 5;
    align-self: center;
  }
  &__img {
    height: 15rem;
    width: 15rem;
    border-radius: 4px;
    transform: translateY(2.3px);
  }

  &__header {
    // background-color: rgb(169, 234, 255);
    padding-top: 1rem;
    font-size: 2.2rem;
    font-weight: 500;
  }
  &__date {
    font-size: 1.5rem;
    align-self: start;
    margin-bottom: 1.2rem;
    font-style: italic;
  }
  &__text {
    // background-color: rgb(136, 26, 140);
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    overflow: hidden; /* hide overflowing text */
  }

  &__read {
    // background-color: rgb(26, 140, 51);
    font-size: 1.4rem;
    justify-self: end;
    padding-right: 2.3rem;
    color: $color-primary;
  }

  &__arrow {
    position: absolute;
    transform: translateX(-50%);
    height: 1.6rem;
    width: 1.6rem;
    bottom: 1rem;
    left: 50%;
    &:hover {
      transform: translateX(-50%) scale(1.4);
    }
  }
}
