// ---------NEWS IMPORT-------
.hype__figure {
  &--3 {
    background-image: url(/Assets/img/SOap40.jpg);
  }
  &--2 {
    background-image: url(/Assets/img/soaps.jpeg);
  }
  &--1 {
    background-image: url(/Assets/img/hands.jpg);
  }
}

.news__figure {
  &--3 {
    background-image: url(/Assets/img/diana-polekhina-Hzz7AEyLhZk-unsplash.jpg);
  }
  &--2 {
    background-image: url(/Assets/img/content-pixie-WdJ4WnLxyDs-unsplash.jpg);
  }
  &--1 {
    background-image: url(/Assets/img/intro-bg-green.jpg);
  }
}

.main-news {
  // padding-top: 7rem;
}

.main-news {
  // background-color: aqua;
  // margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2.3fr;
  justify-content: center;
  column-gap: 5rem;
  padding-bottom: 40rem;
}

.column-type {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 0 0 1rem 2rem;
}

//! +++++++++++++ HYPE ++++++++++++++
.hype {
  min-width: 35rem;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  position: relative;
  // background-color: red;

  &__div {
    background-color: $color-primary;
    padding: 3rem 3rem 1.05rem 3rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    height: 45rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: $color-white;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      height: 5rem;
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: $color-accent;
      left: 0;
      z-index: 0;
    }
  }

  &__figure {
    background-position: center;
    background-size: cover;
    height: 13rem;
    width: 100%;
    border-radius: 4px;
  }

  &__header {
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: normal;
    font-weight: 500;
    color: $color-accent-light-2;
  }
  &__date {
    font-size: 1.5rem;
    align-self: start;
    font-style: italic;
  }
  &__text {
    // background-color: rgb(136, 26, 140);
    font-size: 1.6rem;
    font-weight: 300;
    overflow: hidden; /* hide overflowing text */
    padding-bottom: 2.5rem;
    letter-spacing: 0.55px;
  }

  &__cta {
    // background-color: rgb(26, 140, 51);
    font-size: 2rem;
    font-weight: 500;
    justify-self: end;
    // padding: 0.5rem 3rem;
    color: $color-white;
    // background-color: $color-accent;
    align-self: center;
    justify-self: end;
    z-index: 1;
    text-transform: uppercase;
    &:hover {
      transform: scale(1.05);
      transform-origin: top;
    }
  }
}

//! +++++++++++++ NEWS ++++++++++++++
.news {
  // background-color: rgb(172, 172, 255);
  min-width: 82rem;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  position: relative;
  transition: all 0.2s;

  &__div {
    // background-color: yellow;
    background-color: rgb(255, 255, 255);
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: 20rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content 5rem 4rem 20rem;
    column-gap: 3.3rem;
    color: $color-grey-dark-3;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:first-child::after {
      content: "new";
      position: absolute;
      padding: 0.1rem 3rem;
      background-color: $color-accent;
      top: 2rem;
      right: 1rem;
      transform: translateX(20%);
      font-size: 1.8rem;
      color: $color-white;
      letter-spacing: 1.2px;
    }
  }

  &__figure {
    grid-row: 1 / span 4;
    align-self: start;
    transform: translateY(-2.3px);
    height: 14.5rem;
    width: 14.5rem;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
  }

  &__header {
    // background-color: rgb(169, 234, 255);
    padding-top: 0.3rem;
    font-size: 2.2rem;
    font-weight: 500;
  }
  &__date {
    font-size: 1.5rem;
    align-self: start;
    margin-bottom: 1.2rem;
    font-style: italic;
  }

  &__text {
    // background-color: rgb(136, 26, 140);

    font-size: 1.6rem;
    font-weight: 400;
    transition: opacity 0.3s ease-in-out;

    &--preview {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--long {
      opacity: 0;
      grid-column: 1 / -1;
      padding: 0.1rem 0;
      max-width: 90ch;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__read {
    // background-color: rgb(26, 140, 51);
    font-size: 1.4rem;
    position: absolute;
    bottom: 0.8rem;
    right: 3rem;
    color: $color-primary-light-2;
    &:hover {
      transform: scale(1.03);
    }
    &:active {
      color: $color-primary;
    }
  }

  &__arrow {
    cursor: pointer;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 1.6rem;
    width: 1.6rem;
    transition: transform 0.3s;

    &:hover {
      transform: translateY(15%) translateX(-50%);
    }
  }

  &__checkbox {
    display: none;
  }

  //* ------- FUNCTIONALITY -------

  &__div:has(> .news__checkbox:checked) {
    height: 45rem;
  }
  &__checkbox:checked ~ &__text--preview {
    -webkit-line-clamp: unset;
    overflow: unset;
  }

  &__checkbox:checked ~ &__text--long {
    opacity: 1;
  }
  &__checkbox:checked ~ &__arrow {
    transform: rotate(180deg) translateX(50%);
    transform-origin: center;
  }
}
