.product-cost {
  //   background-color: yellow;
  padding-left: 9rem;
  display: flex;
  flex-direction: column;
  & > * {
    margin-bottom: 8rem;
  }
  h1 {
    margin-bottom: 8rem;
  }
  h2 {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    display: block;
    border-bottom: solid 1px $color-grey-light-2;
    padding-left: 9.2rem;
    margin-left: -9rem;
  }
  &-ingredients {
    margin-left: -9rem;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
    font-size: 1.4rem;

    &__checkbox {
      //   justify-self: start;
      width: 0;
      height: 0;
    }

    &__new {
      display: flex;
      flex-direction: column;
      &--info {
        .input-field {
          padding-left: 4.5rem;
        }
        // background-color: pink;

        display: flex;
        justify-content: start;
        align-content: center;
        align-items: center;
      }

      &--consistency {
        margin-left: 4.8rem;
        margin-bottom: 2rem;
      }
    }
  }
}
.include {
  max-width: 9ch;
  margin-top: 8.8rem;
}
