.tools {
  // background-color: yellow;

  &__sidebar {
    // background-color: blue;
    a:hover {
      opacity: 1;
    }
    a:active {
      color: rgb(230, 203, 1);
    }
  }

  &__content {
  }
}
